Usando do Site https://rpachallenge.com/ , Fazer o Desafio proposto pelo site:

Para isso:<br>
1) Precisará abrir o site<br>
2) Precisará clicar em DOWNLOAD EXCEL<br>
3) Precisará Ler a tabela challenge.xlsx<br>
4) Precisará clicar em START<br>
5) Precisará colocar corretamente em cada um dos 7 campos as informações<br>
6) Precisará clicar em Submit<br>
7) Repetir o Processo 10 vezes<br>
8) Precisará coletar a mensagem Final, pegando separadamente a Quantidade_Acertos e Tempo_Gasto<br>
9) Irá montar uma mensagem <br>
10) Irá enviar por email essa mensagem<br>

In [1]:
### 1  Abre o Site

from selenium import webdriver
navegador = webdriver.Chrome()
url = ("https://rpachallenge.com/")
##navegador.get vai até a pagina
navegador.get(url)

### 2 Faz o Download

## Puxar o By do Webdriver
from selenium.webdriver.common.by import By
#navegador.find_element(By.XPATH, '/html/body/app-root/div[2]/app-rpa1/div/div[1]/div[6]/a').click()
#Comentado para evitar baixar diversas vezes o mesmo arquivo

In [2]:
### 3 Ler a Tabela
import pandas as pd
tabela_excel = pd.read_excel(r'C:\Users\User\Downloads\challenge.xlsx')
#Renomeando a coluna Last Name pois havia um caractere vazio
tabela_excel = tabela_excel.rename(columns={'Last Name ': 'Last Name'})
tabela_excel

,First Name,Last Name,Company Name,Role in Company,Address,Email,Phone Number
0,John,Smith,IT Solutions,Analyst,98 North Road,jsmith@itsolutions.co.uk,40716543298
1,Jane,Dorsey,MediCare,Medical Engineer,11 Crown Street,jdorsey@mc.com,40791345621
2,Albert,Kipling,Waterfront,Accountant,22 Guild Street,kipling@waterfront.com,40735416854
3,Michael,Robertson,MediCare,IT Specialist,17 Farburn Terrace,mrobertson@mc.com,40733652145
4,Doug,Derrick,Timepath Inc.,Analyst,99 Shire Oak Road,dderrick@timepath.co.uk,40799885412
5,Jessie,Marlowe,Aperture Inc.,Scientist,27 Cheshire Street,jmarlowe@aperture.us,40733154268
6,Stan,Hamm,Sugarwell,Advisor,10 Dam Road,shamm@sugarwell.org,40712462257
7,Michelle,Norton,Aperture Inc.,Scientist,13 White Rabbit Street,mnorton@aperture.us,40731254562
8,Stacy,Shelby,TechDev,HR Manager,19 Pineapple Boulevard,sshelby@techdev.com,40741785214
9,Lara,Palmer,Timepath Inc.,Programmer,87 Orange Street,lpalmer@timepath.co.uk,40731653845

In [3]:
### 4 Clica em Start
navegador.find_element(By.XPATH, '/html/body/app-root/div[2]/app-rpa1/div/div[1]/div[6]/button').click()

In [4]:
### 5 Percorre todos os elementos do Navegador 
### 6  Precisará clicar em Submit 
### 7 Repetir o Processo 10 vezes

titulo = '/label'
input_texto = '/input'
dados = 0
for npaginas in range(10):            #Muda Pagina
    ntabela = npaginas
    #print('Pagina '+str(npaginas))
    for ncampos in range (1,8):
        nav_xpath = '/html/body/app-root/div[2]/app-rpa1/div/div[2]/form/div/div['+ str(ncampos) +']/rpa1-field/div'
        elemento = navegador.find_element(By.XPATH, nav_xpath + titulo)
        texto_elemento = nav_xpath+input_texto
        campo_texto = navegador.find_element(By.XPATH,texto_elemento)
        result = elemento.text
        #coluna_tab=tabela_excel.columns[ncolunas]
        ###################
        for ncolunas in range(7):
            if(result == tabela_excel.columns[ncolunas]):
                print('Numero da Coluna   '+ str(ncolunas))
                print('Result   '+ result)
                dados = tabela_excel.iloc[ntabela][ncolunas]
                print(dados)
                #print(str(ntabela)+str(ncolunas))
                campo_texto.send_keys(str(dados))
                print('===============COLOCOU============')
           
    navegador.find_element(By.XPATH, '/html/body/app-root/div[2]/app-rpa1/div/div[2]/form/input').click()

Numero da Coluna   6
Result   Phone Number
40716543298
===============COLOCOU============
Numero da Coluna   5
Result   Email
jsmith@itsolutions.co.uk
===============COLOCOU============
Numero da Coluna   1
Result   Last Name
Smith
===============COLOCOU============
Numero da Coluna   4
Result   Address
98 North Road
===============COLOCOU============
Numero da Coluna   0
Result   First Name
John
===============COLOCOU============
Numero da Coluna   3
Result   Role in Company
Analyst
===============COLOCOU============
Numero da Coluna   2
Result   Company Name
IT Solutions
===============COLOCOU============
Numero da Coluna   5
Result   Email
jdorsey@mc.com
===============COLOCOU============
Numero da Coluna   0
Result   First Name
Jane
===============COLOCOU============
Numero da Coluna   1
Result   Last Name
Dorsey
===============COLOCOU============
Numero da Coluna   2
Result   Company Name
MediCare
===============COLOCOU============
Numero da Coluna   4
Result   Address
11 Crown Street
===============COLOCOU============
Numero da Coluna   6
Result   Phone Number
40791345621
===============COLOCOU============
Numero da Coluna   3
Result   Role in Company
Medical Engineer
===============COLOCOU============
Numero da Coluna   5
Result   Email
kipling@waterfront.com
===============COLOCOU============
Numero da Coluna   1
Result   Last Name
Kipling
===============COLOCOU============
Numero da Coluna   0
Result   First Name
Albert
===============COLOCOU============
Numero da Coluna   3
Result   Role in Company
Accountant
===============COLOCOU============
Numero da Coluna   2
Result   Company Name
Waterfront
===============COLOCOU============
Numero da Coluna   4
Result   Address
22 Guild Street
===============COLOCOU============
Numero da Coluna   6
Result   Phone Number
40735416854
===============COLOCOU============
Numero da Coluna   6
Result   Phone Number
40733652145
===============COLOCOU============
Numero da Coluna   1
Result   Last Name
Robertson
===============COLOCOU============
Numero da Coluna   4
Result   Address
17 Farburn Terrace
===============COLOCOU============
Numero da Coluna   2
Result   Company Name
MediCare
===============COLOCOU============
Numero da Coluna   5
Result   Email
mrobertson@mc.com
===============COLOCOU============
Numero da Coluna   3
Result   Role in Company
IT Specialist
===============COLOCOU============
Numero da Coluna   0
Result   First Name
Michael
===============COLOCOU============
Numero da Coluna   6
Result   Phone Number
40799885412
===============COLOCOU============
Numero da Coluna   5
Result   Email
dderrick@timepath.co.uk
===============COLOCOU============
Numero da Coluna   2
Result   Company Name
Timepath Inc.
===============COLOCOU============
Numero da Coluna   4
Result   Address
99 Shire Oak Road
===============COLOCOU============
Numero da Coluna   3
Result   Role in Company
Analyst
===============COLOCOU============
Numero da Coluna   1
Result   Last Name
Derrick
===============COLOCOU============
Numero da Coluna   0
Result   First Name
Doug
===============COLOCOU============
Numero da Coluna   4
Result   Address
27 Cheshire Street
===============COLOCOU============
Numero da Coluna   3
Result   Role in Company
Scientist
===============COLOCOU============
Numero da Coluna   5
Result   Email
jmarlowe@aperture.us
===============COLOCOU============
Numero da Coluna   6
Result   Phone Number
40733154268
===============COLOCOU============
Numero da Coluna   2
Result   Company Name
Aperture Inc.
===============COLOCOU============
Numero da Coluna   1
Result   Last Name
Marlowe
===============COLOCOU============
Numero da Coluna   0
Result   First Name
Jessie
===============COLOCOU============
Numero da Coluna   1
Result   Last Name
Hamm
===============COLOCOU============
Numero da Coluna   4
Result   Address
10 Dam Road
===============COLOCOU============
Numero da Coluna   6
Result   Phone Number
40712462257
===============COLOCOU============
Numero da Coluna   5
Result   Email
shamm@sugarwell.org
===============COLOCOU============
Numero da Coluna   2
Result   Company Name
Sugarwell
===============COLOCOU============
Numero da Coluna   3
Result   Role in Company
Advisor
===============COLOCOU============
Numero da Coluna   0
Result   First Name
Stan
===============COLOCOU============
Numero da Coluna   0
Result   First Name
Michelle
===============COLOCOU============
Numero da Coluna   1
Result   Last Name
Norton
===============COLOCOU============
Numero da Coluna   2
Result   Company Name
Aperture Inc.
===============COLOCOU============
Numero da Coluna   6
Result   Phone Number
40731254562
===============COLOCOU============
Numero da Coluna   4
Result   Address
13 White Rabbit Street
===============COLOCOU============
Numero da Coluna   3
Result   Role in Company
Scientist
===============COLOCOU============
Numero da Coluna   5
Result   Email
mnorton@aperture.us
===============COLOCOU============
Numero da Coluna   0
Result   First Name
Stacy
===============COLOCOU============
Numero da Coluna   5
Result   Email
sshelby@techdev.com
===============COLOCOU============
Numero da Coluna   2
Result   Company Name
TechDev
===============COLOCOU============
Numero da Coluna   1
Result   Last Name
Shelby
===============COLOCOU============
Numero da Coluna   6
Result   Phone Number
40741785214
===============COLOCOU============
Numero da Coluna   3
Result   Role in Company
HR Manager
===============COLOCOU============
Numero da Coluna   4
Result   Address
19 Pineapple Boulevard
===============COLOCOU============
Numero da Coluna   2
Result   Company Name
Timepath Inc.
===============COLOCOU============
Numero da Coluna   6
Result   Phone Number
40731653845
===============COLOCOU============
Numero da Coluna   0
Result   First Name
Lara
===============COLOCOU============
Numero da Coluna   1
Result   Last Name
Palmer
===============COLOCOU============
Numero da Coluna   4
Result   Address
87 Orange Street
===============COLOCOU============
Numero da Coluna   5
Result   Email
lpalmer@timepath.co.uk
===============COLOCOU============
Numero da Coluna   3
Result   Role in Company
Programmer
===============COLOCOU============

In [17]:
### 8 Precisará coletar a mensagem Final, pegando separadamente a Quantidade_Acertos e Tempo_Gasto
import re
# Usando a biblioteca 're'  (Regular Expressions)
mensagem = navegador.find_element(By.XPATH, '/html/body/app-root/div[2]/app-rpa1/div/div[2]/div[2]')
mensagem = mensagem.text

expressao_reg =re.findall(r'\b\d+\b',mensagem)
#Encontra todas as correspondências do padrão na string e retorna como uma lista.
#  r indica uma string                             ;  \b   indica posição entre um alfanumerico e a borda de um alfanumerico
#  \d+ indica um ou mais dígitos (0-9)             ;  \b   indica posição entre um alfanumerico e a borda de um alfanumerico
expressao_reg
porcentagem_acerto = expressao_reg[0]
quantidade_acertos = expressao_reg[1]
total_acertos = expressao_reg[2]
tempo_gasto = expressao_reg[0]

In [20]:
### 9) Irá montar uma mensagem <br>
import datetime
# Importando biblioteca Datetime
horaagora = datetime.datetime.now()
hora=horaagora.strftime('%H:%M:%S')
dia = horaagora.strftime('%d/%m/%Y')

corpoemail = 'O Desafio RPA foi finalizado às '+ hora + ' do dia ' + dia + ' retornou uma porcentagem de acerto de ' + porcentagem_acerto + '% , com ' + quantidade_acertos + ' Acertos em um máximo de ' + total_acertos + ' e a execução teve um tempo gasto de ' + tempo_gasto + 'ms.'
corpoemail

'O Desafio RPA foi finalizado às 14:12:04 do dia 12/10/2023 retornou uma porcentagem de acerto de 100% , com 70 Acertos em um máximo de 70 e a execução teve um tempo gasto de 100ms.'